<section class="container py-5">
  {% for product in collections[section.settings.featured_collection].products %}
        <div class="card">
            <h3 class="heading">{{ product.title }}</h3>
            <p>{{ product.price }}</p>
        </div>
  {% endfor %}
  <select id="product-select" name="id">
  {% for variant in product.variants %}
    <option value="{{ variant.id }}"
      {% if variant == product.selected_or_first_available_variant %}selected="selected"{% endif %}
    >
      {{ variant.title }} - {{ variant.price | money }}
    </option>
  {% endfor %}
</select>
</section>
{% schema %}
  {
    "name": "Featured collection",
    "class": "featured-collection-section",
    "settings": [
      {
        "type": "collection",
        "id": "featured_collection",
        "label": "Collection"
      }, {
        "type": "text",
        "id": "title",
        "default": "Example description",
        "label": "Title"
      }
    ],
    "presets": [
      {
        "category": "Collection",
        "name": "Featured Collection"
      }
    ]
  }
{% endschema %}